.idea
www
test.sh
TODO.md
settings.cfg
ignore.txt

backup/db/days/*
backup/db/days/!.gitignore
backup/db/weeks/*
backup/db/weeks/!.gitignore
backup/db/months/*
backup/db/months/!.gitignore

backup/files/days/*
backup/files/days/!.gitignore
backup/files/weeks/*
backup/files/weeks/!.gitignore
backup/files/months/*
backup/files/months/!.gitignore